```{=html}
<% for (const item of items) { %>
<div class="item">
  <div class="item-content">
    <h3 class="item-title"><a href="<%= item.url %>"><%= item.title %></a></h3>
    <% if (item.type === 'paper') { %>
      <p class="item-journal"><%= item.journal %> (<%= item.year %>)</p>
    <% } else if (item.type === 'presentation') { %>
      <p class="item-venue"><%= item.venue %> (<%= item.date %>)</p>
    <% } %>
    <p class="item-authors"><%= item.authors %></p>
    <% if (item.abstract) { %>
      <p class="item-abstract"><%= item.abstract %></p>
    <% } %>
  </div>
  <div class="item-images">
    <% if (item.images && item.images.length > 0) { %>
      <% for (const image of item.images) { %>
        <img src="<%= image %>" alt="Item illustration" class="item-image">
      <% } %>
    <% } %>
  </div>
</div>
<% } %>
`````